alembic
bcrypt
blinker
cachelib
certifi
charset-normalizer
click
Flask
Flask-Bcrypt
Flask-Caching
flask-cors
Flask-JWT
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
pandas
psycopg
psycopg-binary
psycopg-pool
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
requests
six
slugify
SQLAlchemy
typing_extensions
urllib3
Werkzeug
